src/main/mule/getschedules-web.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getschedules-webFlow" doc:id="e97bc520-d3c2-4a1a-9293-6df5b2685770" >
		<http:request method="GET" doc:name="Request" doc:id="c07ff41e-ce81-4c65-974a-8729c07b3fbf" url="http://localhost:8082/api/booking/{transportType}/schedules" responseTimeout="40000">
			<http:headers><![CDATA[#[output application/java
---
{
	"TransactionId" : attributes.headers.transactionId
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName,
	"transportType" : attributes.uriParams.transportType
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	"departureLocationCode" : attributes.departureLocationCode,
	"destinationLocationCode" : attributes.destinationLocationcode
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="1c8cca5e-c087-4d84-b94f-7c3d710a5062">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
